.foto{
    margin-top: 25px;
    width: 200px;
    height: 200px;
}   

.image-direita{
    float: right;
}

.image-esquerda{
    display: table-cell;
    float: left;
}

.separar-img{
    margin: 20px;
}

.contato-img{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}
