section, header{
  padding: 30px;
}

#sobre{
  background-color: #00796B;
  color: white;
  margin-top: -20px
}

#cursos{
  background-color: white;
  width: 100%;
}

#contato{
  color: white;
  background-color: #222;
  border-color: #080808;
  bottom: 0;
  padding: 10px;
}

#objetivo{
  background-color: #F5F5F5;
}
   
.sobre-textoPrincipal{
  font-size: 1.4em;
  font-weight: bold;
}

#conhecimentos{
  color: white;
  background-color: #37474F ; 
}

#experiencia{
  color: white;
  background-color: #263238;
}

.progress-bar-sql {
    background-color: purple;
}


.progress-bar-jquery {
    background-color: green;
}

.progresso{
  font-weight: bold;
  font-size: 1.2em;
}

.sobre-textoSecundario{
  margin: auto;
  width: 80%;
  font-size: 1.2em;
}

p, .topicos{
    font-size: 1.3em;
    line-height: 1.7;
}

.topicos-sem-estilo{
  list-style-type: none
}


.conteudo-direta{
 float: right;
 text-align: right;   
 display: table-cell;
}

.conteudo-esquerda{
  width: 70%;
  display: table-cell;
  float: left;
}

.direitos-reservados{
  margin-top: 20px;
  font-size: 1.1em;
}